*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI',sans-serif;
    background: #f4f6f8;
    padding: 40px;
}
body > p{
    color: #7f8c8d; margin-bottom: 30px;
}
h1{
    color: #2C3E50;
    margin-bottom: 8px;

}

/* ASOSIY flex-wrap */
.gallery{
    display: flex;
    flex-wrap: wrap;  /* sig'masa yangi qatorga */
    gap: 20px;
    justify-content: center;
}

.card{
    flex: 0 0 240px;  /* qattiq 240px */
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}
.card:hover{
    transform:translateY(-5px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}
.card-img{
    height: 180px;
}
.bg1{
    background: linear-gradient(135deg,#667eea,#764ba2);
}

.bg2{
    background: linear-gradient(135deg,#f093fb,#f5576c);
}

.bg3{
    background: linear-gradient(135deg,#4facfe,#0052fe);
}

.bg4{
    background: linear-gradient(135deg,#43e97b,#38f9d7);
}
.bg5{
    background: linear-gradient(135deg,#fa709a,#fee140);
}
.card h3{
    padding: 16px 20px 8px;
    color: #2C3E50;
}
.card span{
    display: block;
    padding: 0 20px 20px;
    font-size: 22px;
    font-weight: 700;
    color:#27ea60
}